*{
    margin: 0;
    padding: 0;
    box-shadow: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: lightgrey;
    opacity: 5;
}

/* Estilos do cabeçalho */
header {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
    margin-bottom: 1rem;
}
#sobre h2{
    text-align: center;
}
#sobre p{
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    /* margin-right: 18.5rem; */
}

/* Estilos da navegação */
nav ul {
    list-style: none;
    padding: 10px;
    justify-content: center;
    text-align: center;
}

nav ul li{
    display: inline;
    
    
    
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bolder;
    margin-bottom: 1rem;
    padding: 1.5rem;
   
    
    
}
nav a:hover{
    font-weight: bold;
    color:purple;
    transition: 0.5s;
    text-decoration:underline;
    
} 

/* Estilos do portfólio */
#portfolio{
    text-align: center;
}

.imagem {
    display: inline-block; 
    margin: 20px; 
    
}
.imagem img{
    width: 25rem;
    height: 25rem;
    border-radius: 20px;
}
#contato img{
    margin-left: 1.2rem;
}

/* Estilos do rodapé */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
@media screen and (max-width: 600px) {
    header{
        text-align: center;
    }
    nav{
        display: flex;
        justify-content: center;
    }
    .imagem img{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 20rem;
        height: 20rem;
    }
    iframe{
        width:360px;
        height: 200px;
        border-radius: 20px;

    }
    #sobre h2{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        
    }
    #sobre p{
        margin: 0 2rem 0 2rem;
    }
    
}